html{

    scroll-behavior: smooth;

}


body{

    margin:0;

}

.title {

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 90px;
    color: #4a3b2a;
    z-index: 1000;
    text-shadow:
        3px 3px white,
        6px 6px 10px rgba(0,0,0,.2);

}


.hero{

    height:100vh;
    background-size:cover;
    background-position:center;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;

    animation: bgslide 18s linear infinite;
}

@keyframes bgslide{

    0%{
        background-image:url("bearstream/background1s.png");
    }

    33%{
        background-image:url("bearstream/background3.png");
    }

    66%{
        background-image:url("bearstream/background4.png");
    }

    100%{
        background-image:url("bearstream/background1s.png");
    }


}

.navbar{

    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

}

.navbar a{

    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
    color: #4a3b2a;
    margin: 0 30px;
    transition: .3s;

}

.navbar a:hover{

    color: #d68c2c;

}
.bear-container{

    position:relative;
    width:2000px;
    height:1000px;
}


.frame{

    position:absolute;
    width:100%;
    top:0;
    left:0;
    opacity:0;
    animation:slideshow 3s infinite linear;

}

.frame1 {animation-delay:0s;}
.frame2 {animation-delay:.18s;}
.frame3 {animation-delay:.36s;}
.frame4 {animation-delay:.54s;}
.frame5 {animation-delay:.72s;}
.frame6 {animation-delay:.90s;}
.frame7 {animation-delay:1.08s;}
.frame8 {animation-delay:1.26s;}
.frame9 {animation-delay:1.44s;}
.frame10 {animation-delay:1.62s;}
.frame11 {animation-delay:1.80s;}
.frame12 {animation-delay:1.98s;}
.frame13 {animation-delay:2.16s;}
.frame14 {animation-delay:2.34s;}
.frame15 {animation-delay:2.52s;}
.frame16 {animation-delay:2.70s;}
.frame17 {animation-delay:2.88s;}



@keyframes slideshow{

    0%{
        opacity:1;
    }

    5.8%{
        opacity:1;
    }

    5.81%{
        opacity:0;
    }

    100%{
        opacity:0;
    }

}


.gallery-section{

    min-height:100vh;
    background-image:url("bearstream/background2.png");
    background-size:cover;
    background-position:center;
    padding-top:100px;
    text-align:center;
}


.gallery-title{

    font-family:'Fredoka', sans-serif;
    font-size:60px;
    color:#4a3b2a;
    margin-bottom:10px;
}


.gallery-text{

    font-size:20px;
    color:#4a3b2a;
    margin-bottom:50px;
}


.gallery {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    width: 80%;
    margin: auto;
    padding-top: 20px;

}


.hero-card{

    width:300px;
    background-color:#e8d8b5;
    border:2px solid #d6c29d;
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
}


.hero-card:hover{

    transform:translateY(-5px);

}


.hero-card img{

    width:60%;
    height:180px;
    object-fit:contain;

}


.hero-card h3{

    font-family:'Fredoka', sans-serif;
    font-size:32px;
    color:#4a3b2a;
    margin-top:15px;
    margin-bottom:10px;

}


.hero-card p{

    color:#4a3b2a;
    margin-bottom:20px;
}
.warrior:hover{

    content:url("bearstream/warrior2.png");

}

.mage:hover{

    content:url("bearstream/mage2.png");

}

.archer:hover{

    content:url("bearstream/archer2.png");

}

.berserker:hover{

    content:url("bearstream/berserker2.png");

}

.assassin:hover{

    content:url("bearstream/assassin2.png");

}

.priest:hover{

    content:url("bearstream/priest2.png");

}

.hero-link{

    text-decoration:none;

    color:inherit;

}